target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*.edn~
/src/test/resources/scenarios/01/actual/governor.edn
/src/test/resources/scenarios/01/actual/r.dot
/src/test/resources/scenarios/01/actual/r.p.dot
/src/test/resources/scenarios/01/actual/r.w.dot
/src/test/resources/scenarios/01/actual/schedule.org
/src/test/resources/scenarios/02/actual/governor.edn
/src/test/resources/scenarios/02/actual/r.dot
/src/test/resources/scenarios/02/actual/r.p.dot
/src/test/resources/scenarios/02/actual/r.w.dot
/src/test/resources/scenarios/02/actual/schedule.org
/src/test/resources/scenarios/03/actual/governor.edn
/src/test/resources/scenarios/03/actual/r.dot
/src/test/resources/scenarios/03/actual/r.p.dot
/src/test/resources/scenarios/03/actual/r.w.dot
/src/test/resources/scenarios/03/actual/schedule.org
